.custom-cursor{
    position:fixed;
    pointer-events: none; 
    z-index: 9999; 
  
}
.custom-cursor img{
    width: 60px;
 
}


@media (max-width: 576px) {
    .custom-cursor{
        display: none;
    }
  } 